#futer{
    padding: 48px 0;
    background-color: #002529;
}


.futer__container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.futer__block{
    display: flex;
    justify-content: space-between;
    max-width: 700px;

}

